@import "../../bower_components/bootstrap/less/bootstrap.less";

@redy: #e62b1e;

.navbar-static-top.navbar-default {
  border-bottom-width: 2px;
  border-color: @redy;
  background-color: #f1f1f1;
}

.navbar-default .navbar-brand {
  color: @redy;

  .icon.glyphicon {
    position: relative;
    top: 3px;
  }

  .navbar-nav>li>a {
    color: #666;
    font-weight: bold;
  }

  .navbar-nav>.active>a {
    font-weight: bold;
  }

  .navbar-nav.navbar-right li {
    line-height: 50px;
  }

  .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: black;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//
// Styling from clojure
//

body .content {
  min-height: 90vh;
}

body nav.navbar {
  margin-bottom: 0;
  border: none;
  background: white;
}

body .navbar-default .navbar-brand {
  padding: 10px;
  width: 60px;
  margin-left: -5px!important;
  font-size: 40px;
  text-align: center;
  color: #455a64;
}

body .navbar-default .navbar-nav>li>a {
  color: #444;
}

body .toolbar {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

body footer {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  color: #eee;
  padding: 20px 0;
  background: #455a64;;
}

body footer .bottom {
  padding-bottom: 20px;
}

body div.person {
  margin-bottom: 20px;
}

body div.person img {
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

body div.person .person-title {
  overflow: hidden;
  padding: 5px;
  height: 100px;
}

body div.person .person-title h3 {
  text-align: center;
  margin-bottom: 4px;
  margin-top: 5px;
}

body div.person .person-title p {
  text-align: center;
  color: #555;
}

body .app {
  border: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

body .app:hover {
  text-decoration: none;
}

body .app h3 {
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background: #f1f1f1;
}

body .app p {
  margin: 0;
  height: 150px;
  padding: 10px;
}

body .app .app-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
}

body .app.new-app {
  border: none;
  text-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: center;
  color: gray;
  box-shadow: none;
}

body .app.new-app:hover {
  color: green;
}

body .app.new-app .icon {
  cursor: pointer;
  font-size: 150px;
}

body .admin-menu {
  left: 10px;
  position: fixed;
  top: 120px;
}

body .admin-menu ul {
  margin: 0;
  padding: 0;
}

body .admin-menu ul li {
  margin: 0;
  display: block;
}

body .admin-menu ul li a {
  width: 60px;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-size: 40px;
  border-radius: 5px;
  display: block;
  text-shadow: -1px -1px 2px black;
  background: #455a64;
  color: white;
}

body .admin-menu ul li a:hover {
  background: #333;
}
